<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ShoppingServlet_0</servlet-name>
        <servlet-class>controleur.ShoppingServlet_0</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailPanierPdf</servlet-name>
        <servlet-class>vues.DetailPanierPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>vues.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingServlet_0</servlet-name>
        <url-pattern>/ShoppingServlet_0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailPanierPdf</servlet-name>
        <url-pattern>/DetailPanierPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>EShop.jsp</welcome-file>
    </welcome-file-list>
</web-app>
