<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TraiterNeaveuPoids</servlet-name>
        <servlet-class>controleurs.TraiterNeaveuPoids</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraiterRecherche</servlet-name>
        <servlet-class>controleurs.TraiterRecherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraiterLang</servlet-name>
        <servlet-class>controleurs.TraiterLang</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TraiterNeaveuPoids</servlet-name>
        <url-pattern>/TraiterNeaveuPoids</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraiterRecherche</servlet-name>
        <url-pattern>/TraiterRecherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraiterLang</servlet-name>
        <url-pattern>/TraiterLang</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
