<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FristServlet</servlet-name>
        <servlet-class>controlers.FristServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>form</servlet-name>
        <servlet-class>controlers.form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conversion</servlet-name>
        <servlet-class>controlers.conversion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaoAccess</servlet-name>
        <servlet-class>controlers.DaoAccess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FristServlet</servlet-name>
        <url-pattern>/FristServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>form</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conversion</servlet-name>
        <url-pattern>/conversion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaoAccess</servlet-name>
        <url-pattern>/DaoAccess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
