<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <servlet-class>messervlets.ShowRequestHeaders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherHeure</servlet-name>
        <servlet-class>messervlets.AfficherHeure</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficherHeure</servlet-name>
        <url-pattern>/afficherHeure</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>AfficherHeure2</servlet-name>
        <servlet-class>messervlets.AfficherHeure2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowParameters</servlet-name>
        <servlet-class>messervlets.ShowParameters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WrongDestination</servlet-name>
        <servlet-class>messervlets.WrongDestination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExempleDispatcher</servlet-name>
        <servlet-class>messervlets.ExempleDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFR</servlet-name>
        <servlet-class>messervlets.ServletFR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEN</servlet-name>
        <servlet-class>messervlets.ServletEN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExempleRedirect</servlet-name>
        <servlet-class>messervlets.ExempleRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LotteryNumbers</servlet-name>
        <servlet-class>messervlets.LotteryNumbers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraiterCommande</servlet-name>
        <servlet-class>messervlets.TraiterCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoSession</servlet-name>
        <servlet-class>messervlets.InfoSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoApp</servlet-name>
        <servlet-class>messervlets.InfoApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Valider</servlet-name>
        <servlet-class>messervlets.Valider</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>messervlets.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <url-pattern>/afficherEntetes</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ShowParameters</servlet-name>
        <url-pattern>/ShowParameters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WrongDestination</servlet-name>
        <url-pattern>/wrongDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExempleDispatcher</servlet-name>
        <url-pattern>/ExempleDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFR</servlet-name>
        <url-pattern>/ServletFR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEN</servlet-name>
        <url-pattern>/ServletEN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExempleRedirect</servlet-name>
        <url-pattern>/ExempleRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LotteryNumbers</servlet-name>
        <url-pattern>/LotteryNumbers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraiterCommande</servlet-name>
        <url-pattern>/TraiterCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoSession</servlet-name>
        <url-pattern>/InfoSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoApp</servlet-name>
        <url-pattern>/InfoApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Valider</servlet-name>
        <url-pattern>/valider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherHeure2</servlet-name>
        <url-pattern>/afficherHeure2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
